<%- include('bin/assistir/header.ejs') %>

	<div class="container">
		<video id="video" autobuffer autoplay controls poster="/img/cover.png">
			<source id="videoS" src="<%= videoURL %>">
		</video>

		<div id="reproducao">
  			<label for="reproducao-caixa" id="reproducao-txt">Reprodução Automática: ON</label>
			<input type="checkbox" id="reproducao-caixa" name="reproducao-caixa" checked>
		</div>

		<div id="titulo">
			<h1><%= titulo %></h1>
		</div>
		
		<div id="avisos">
			<h1 id="aviso">Erro 404</h1>
			<h2 id="aviso">Aparentemente o <%= titulo %> não existe ou não se encontra nos nossos servidores.</h2>
		</div>
		
		<div id="controles">
			<a href="/assistir/<%= anteriorEP %>" id="anterior">Anterior</a>
			<span></span>
			<a href="/assistir/<%= proximoEP %>"  id="proximo">Próximo</a>
		</div>

		<div id="voltar">
			<a href="/<%= voltar %>">Voltar ao Anime</a>
		</div>
	</div>

<p style="display: none; color: #fff;" id="invisivel">/assistir/<%= proximoEP %></p>
<%- include('bin/assistir/footer.ejs') %>