<%- include('bin/header.ejs') %>

	<div class="container">
	 <div class="row">
		
		<div class="col s12 m4">
			<div class="img-here">
				<img class="responsive-img" src="<%= info.imagem %>" alt="<%= info.nome %>">
			</div>
		</div>

		<div class="col s12 m8">
			<div class="card card-info">
				<div class="card-content">
					<h4 class="center-align"><%= info.nome %></h4>
					<p class="center-align"><%= info.genero %></p>
					<span class="info-anoEepisodios">
						<p><strong>Ano:</strong> <%= info.ano %></p>
						<p><strong>Episódios:</strong> <%= info.episodiosQNTD %></p>
					</span>
					<p class="justify-align"><%= info.sinopse %></p>
				</div>
			</div>
		</div>

		<div class="col s12">
			<% if(episodios.length > 0){ %>
				<div class="collection">
					<div class="collection-header">
						<h4 class="with-text center-align">Episódios</h4>
					</div>

					<% episodios.forEach(function(e, i){ %>
						<a class="with-text collection-item center-align" href="/assistir/<%= e.url %>"><%= e.nome %></a>
					<% }); %>
				</div>
			<% } %>

			<% if(filmes.length > 0){ %>
				<div class="collection">
					<div class="collection-header">
						<h4 class="with-text center-align">Filmes</h4>
					</div>

					<% filmes.forEach(function(e, i){ %>
						<a class="with-text collection-item center-align" href="/assistir/<%= e.url %>"><%= e.nome %></a>
					<% }); %>
				</div>
			<% } %>
		</div>

		<div class="col s12">
			<ul class="pagination center-align">
				<% paginas.forEach(function(e, i){ %>
			    	<li class="waves-effect active"><a href="/<%= URL_EJS %>/<%= i+1 %>"><%= i+1 %></a></li>
				<% }); %>
			</ul>
		</div>
	 </div>
	</div>

<%- include('bin/footer.ejs') %>