<%- include('bin/header.ejs') %>

	<div class="container">
		<div class="info info-img">
			<img src="<%= info.imagem %>" alt="<%= info.nome %>">
		</div>

		<div class="info info-title">
			<h3><%= info.nome %></h3>
		</div>

		<div class="info info-genero">
			<p><%= info.genero %></p>
		</div>

		<div class="info info-info">
			<p><strong>Ano:</strong> <%= info.ano %></p>
			<p><strong>Episódios:</strong> <%= info.episodiosQNTD %></p>
		</div>

		<div class="info info-sinopse">
			<h4>Sinopse:</h4>
			<p><%= info.sinopse %></p>
		</div>
		
		<% if(episodios.length > 0){ %>
			<div class="info info-titlee" style="margin-bottom: 15px">
				<h1>Episódios</h1>
			</div>
			<% episodios.forEach(function(e, i){ %>
				<div class="episodios">
					<a href="/assistir/<%= e.url %>"><%= e.nome %></a>
				</div>
			<% }); %>
		<% } %>
		
		<% if(filmes.length > 0){ %>
			<div class="info info-titlee" style="margin-bottom: 15px">
				<h1>Filmes</h1>
			</div>
			<% filmes.forEach(function(e, i){ %>
				<div class="episodios">
					<a href="/assistir/<%= e.url %>"><%= e.nome %></a>
				</div>
			<% }); %>
		<% } %>

	</div>
	
	<div class="paginacao">
		<div id="paginas">
			<% paginas.forEach(function(e, i){ %>
				<a href="/<%= URL_EJS %>/<%= i+1 %>"><%= i+1 %></a>
			<% }); %>
		</div>
	</div>

<%- include('bin/footer.ejs') %>